<div class="row">

    <form enctype="multipart/form-data" action="/users" method="post">

        <div class="input-field col s12">
            <input type="text" name="source" id="source" class="validate" placeholder="Document source">
            <label for="source">Source</label>
        </div>

        <div class="input-field col s12">
            <input type="text" name="title" id="title" class="validate" placeholder="Document title">
            <label for="title">Title</label>
        </div>

        <div class="input-field col s12">
            <input type="date" name="docdate" id="date" class="validate" placeholder="Date file was created" value="01-01-1999"
                min="1600-01-01" max="2999-01-01">
            <label for="date">Date file was created</label>
        </div>

        <div class="input-field col s12">

            <select multiple name="category">
              
                <option value=" arts">arts</option>
                <option value=" business">business</option>
                <option value=" education">education</option>
                <option value=" elections/campaigns">elections/campaigns</option>
                <option value=" environment">environment</option>
                <option value=" health">health</option>
                <option value=" infrastructure">infrastructure</option>
                <option value=" labor">labor</option>
                <option value=" legislature">legislature</option>
                <option value=" public safety">public safety</option>
                <option value=" science">science</option>
                <option value=" sports">sports</option>
                <option value=" weather">weather</option>

            </select>
            <label>Categories</label>
        </div>

        <div class="input-field col s12">
            <input type="text" name="description" id="description" class="validate" placeholder="Description">
            <label for="description">Description</label>
        </div>

        <div class="input-field col s12">
            <input type="file" name="upload" class="validate">
        </div>

        <div class="col s2">
            <button class="formSubmit btn" type="submit" name="action">Submit</button>
        </div>
        
        <div class="col s2">
            <button class="btn" type="submit" name="action"><a href="/">Cancel</a></button>
        </div>

    </form>

</div>
