<div class="row">
    <div class="input-field col s12">
        <input placeholder="Document source" id="source" type="text" class="validate">
        <label for="source">Source</label>
    </div>
    <div class="input-field col s12">
        <input placeholder="Document title" id="title" type="text" class="validate">
        <label for="title">Title</label>
    </div>
    <div class="input-field col s12">
        <input type="date" id="date" name="doc-date" value="01-01-1999" min="1800-01-01" max="2025-01-01">
        <label for="date">Date file was created:</label>
    </div>
    <div class="input-field col s12">
        <label for="category">Category</label>
        <br>
        <select multiple>
            <option value="" disabled selected></option>
            <option value="1">Arts</option>
            <option value="2">Business</option>
            <option value="3">Education</option>
            <option value="4">Elections/Campaigns</option>
            <option value="5">Environment</option>
            <option value="6">Health</option>
            <option value="7">Infrastructure</option>
            <option value="8">Labor</option>
            <option value="9">Legislature</option>
            <option value="10">Public Safety</option>
            <option value="11">Science</option>
            <option value="12">Sports</option>
            <option value="13">Weather</option>
        </select>
    </div>

    <div class="input-field col s12">
        <input placeholder="Description" id="description" type="text" class="validate">
        <label for="description">Description</label>
    </div>


    <div class="input-field col s12">
        <form ref="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <!-- Creating the input field with the name "sampleFile", the "sampleFile" must match the section in your Express.js route, so long as they match you can call it whatever you want -->
            <input type="file" name="sampleFile" />
            <!-- Creating submit button to actually submit the form to the backend -->
            <input type="submit" value="Upload!" />
        </form>
    </div>

    <div class="col s2">
        <button class="formSubmit btn" type="submit" name="action">Submit</button>
    </div>
    <div class="col s2">
        <button class="btn" type="submit" name="action"><a href="/">Cancel</a></button>
    </div>


</div>
