.container{
    height: 700px;
}
#nav {
    border: black 1px solid;
    height: 700px;
}

#table {
    border: black 1px solid;
    height: 530px;

}

#header {
    border: black 1px solid;
    height: 150px;
}