
/* TABLE STYLING */

#tableTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
  
#dataTable,
#dataTable_info,
.paginate_button,
#dataTable_length,
#dataTable_filter > label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
  
th {
    text-align: left;
}
  
select {
    margin-left: 2px;
    margin-right: 2px;
}
.container{
    height: 700px;
}
#nav {
    border: black 1px solid;
    height: 700px;
}

#table {
    border: black 1px solid;
    height: 530px;

}

#header {
    border: black 1px solid;
    height: 150px;
}